body {
	background-color: #ffffff;
	height: 1000px;
}

.navbar {
    -webkit-transition: all 0.6s ease-out;
    -moz-transition: all 0.6s ease-out;
    -o-transition: all 0.6s ease-out;
    -ms-transition: all 0.6s ease-out;
    transition: all 0.6s ease-out;
}

.navbar.scrolled	{
    /*background: #545454;*/
    background: #f7f7f7;
}

.navText {
  color: black;
}
.navText:hover {
	color: black;
	font-weight: bold;
}

.offBackground {
	background:  #f7f7f7;
}

#jobD1 {
  margin-top: 6rem;
  margin-bottom: 2rem;
  background-color: #ffffff;	
}

#rightIcon > i{
	position: absolute;
	right: 0px;
}

#goalsExpl {
	padding-top: 50px;
	padding-bottom: 30px;
}

.additionalLead{
	width: 50%;
}
